
body {
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #876445;

}
#menucontainer{
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: #E0C097;
    border-radius: 0px 0px 50px 50px;
}
#logo{
    position: absolute;
    width: 300px;
    height: 200px;
    right: 1100px;
    top: -50px;
}
#home-nav{
    text-decoration: none;
    position: absolute;
    left: 200px;
    display: flex;
    top: 40px;
    font-family: helvetica;
    color: #3a3636;
    font-size: 25px;
    
}
a:hover, .active {
    color: #0e0504!important;
}
#coffee-nav{
    text-decoration: none;
    position: absolute;
    left: 600px;
    top: 40px;
    font-family: helvetica;
    color: #3a3636;
    font-size: 25px;
}
#libry-nav{
    position: absolute;
    text-decoration: none;
    left: 850px;
    top: 40px;
    font-family: helvetica;
    color: #3a3636;
    font-size: 25px;
}
#login-nav{
    position: absolute;
    text-decoration: none;
    left: 1099px;
    top: 40px;
    font-family: helvetica;
    color: #3a3636;
    font-size: 25px;
}
*,
*::before,
*::after { box-sizing: border-box; }



.card {
  position: relative;
  left: 650px;
  width: 600px;
  height: 400px;
  overflow: hidden;
  top: 198px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 700px );
  background-image: url(librycoffee1.jpg);
  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_part-two {
  z-index: 6;
  background-image: url( librycoffee2.jpg );
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url( librycoffee3.jpg );
  animation-delay: 14s;
}

@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
}

#txt01{
  position: fixed;
    position: absolute;
    font-family: helvetica;
    font-style: italic;
    color: wheat;
    font-size: 20px;
    top: 125px;
    left: 600px;
     
}
#container{
  border-radius: 50px;
  top: 215px;
  left: 50px;
  position: absolute;
  width: 500px;
  height: 800px;
  background-color: #A66E37;
}
h2{
  color: wheat;
  position: absolute;
  top: -15px;
  left: 60px;
  font-family: helvetica;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
}
#txt02{
  color: wheat;
  position: absolute;
  top: 50px;
  left: 130px;
  font-family: helvetica;
font-style: italic;
font-weight: 700;
font-size: 18px;
line-height: 58px;
}
#capuccino{
  position: relative;
  top: 130px;
  left: 180px;
}
#frapuccino{
  position: relative;
  top: 150px;
  left: 180px;
}
#redvelvet{
  position: relative;
  top: 170px;
  left: 180px;
}
#captxt{
  font-family: helvetica;
  font-style: bold;
  font-size: 20px;
  position: relative;
  top: 120px;
  left: 190px;
  color: white;
}
#fraptxt{
  font-family: helvetica;
  font-style: bold;
  font-size: 20px;
  position: relative;
  top: 145px;
  left: 190px;
  color: white;
}
#caketxt{
  font-family: helvetica;
  font-style: bold;
  font-size: 20px;
  position: relative;
  top: 155px;
  left: 190px;
  color: white;
}

@media screen and (min-width:
1600px) {
 #menucontainer { min-width: 100%; }
}

