
/*#17b45b**/


h1 {
    -webkit-animation: colorchange 60s infinite; 
    animation: colorchange 60s infinite;
}
@-webkit-keyframes colorchange {
     0%  {color: #1da759;}
    25%  {color: #198d49;}
    50%  {color: #239B56;}
    75%  {color: #01d358;}
    100% {color:  #0de76b;}
}
@keyframes colorchange {
     0%  {color: #1da759;}
    25%  {color: #198d49;}
    50%  {color: #239B56;}
    75%  {color: #01d358;}
    100% {color:  #0de76b;}

}
body{
    font-family: helvetica;
    background-color: rgb(15, 14, 14);
    height: 900px;
}   

/* Title */
header{
    width: 99.9%;
    height: 100px;
}

nav{
   width: 20%;
   line-height: 40px;
   background-color: #1b7e46;
   height: 40px;
   margin-left: 520px;
}

nav ul{
    list-style: none;
}

nav label{
    color: #eee;

}

nav a{
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
    text-transform: uppercase;
}


nav a:hover{
    background-color: #239B56;
}


h1{
    
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    
    padding-left: 360px;
}

/*matriz  header */

.mtx-header{
    background-color: var(--first-blue);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 5px 3px 5px #ccc;
}
.mtx-header label{
    font-size: 1.3rem;
}
.mtx-header input[type="number"]{
    width: 40px;
    height: 25px; 
    font-size: 1.2rem;
}
select{
    width: 20px;
}
select option{
    color: #fff;
    background-color: var(--first-blue);
}

/* matriz show */
.btn-matriz-show button img{
    margin: 0;
    width: 12px;
    height: 8px;
}

.btn-matriz-show button{
    margin-bottom: 5px;
}

/* Tabela */

table input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;   
}
.tabela{
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}

table input[type="number"]{
    width: 40px;
    height: 40px; 
    font-size: 1.2rem;
    border: 1px solid #000;
    box-shadow: 5px 3px 5px #ccc;
}

/* Button matriz show */

.btn-matriz-show button{
    width: 100%;
    height: 15px;
    line-height: 0px;
    color: black;
    background-color: white;
}

/* Visor */

#visor{
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    outline: none;
    background-color: #242323;
    color: #fff;
}
#visor:hover{
    background-color: #000 ;
}
/* Button geral */

button{
    color: #fff;
    background-color:#0f4d29 ;    
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 0.9rem;
    box-shadow: 5px 3px 5px rgb(0, 0, 0);
}

.btn_hover:hover{
    background-color: #125e32;    
}

/* Inputs geral */

input{
    outline: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
}

/* Error box */
#error_box{
    color: rgb(185, 9, 9);
}

/* RESULTADO E VISOR */

#btn_calcular{
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: 30px;
    padding: 10px;
    position: absolute;
    top: 600px;
    left: 300px;
    background-color: #198d49;
}
#btn_calcular:hover{
    background-color: #10522b;
}
/* RESULT */
.res{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    margin-bottom: 50px;
}

.res button{
    padding: 5px;
    border-radius:unset;
    border: none;
    border-radius: 5px 5px 0 0;
    background-color: rgb(63, 56, 56);
}
.res button:hover{
   
    background-color: rgb(97, 93, 93);
}
textarea{
    width: 100%;
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(78, 87, 79);
}



/* FOOTER COPYRIGHT */
footer{
    padding: 0;
    width: 100%;
    height: 50px;
}

footer p {
    margin: 0;
    color: #888;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 30px;
}

.hide{
    display: none;
}